* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.container {
  max-width:1300px;
  margin: 0 auto;
}

/* -------------------------- fonts ---------------------------------- */

p {
  line-height: 1.6em;
  padding: 0px 0px 30px;
}

a {
  color: #21B8CB;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1em 0;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #21B8CB;
  /* background: linear-gradient(160deg, rgba(33,184,203,1), rgba(209,226,148,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #21B8CB;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #ffffff;
}

a i {
  padding-right: 10px;
  color: #fff;
}

a i:hover {
  padding-right: 10px;
  color: #0E747F;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #0E747F;
}

.nav-button {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 6px 20px;
}

.nav-button:hover {
  background-color: #0E747F;
  color: #fff;
}

.overlay-text h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  font-size: 19px;
  letter-spacing: .1em;
}

/* ------------------------- header ---------------------------------- */
header {
  text-align: right;
  background-color:#21B8CB;
  padding: 45px 5vw;
}

header nav ul li {
  display: inline;
}

header nav a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin: 0 20px;
}


header nav a:hover {
  color: #0E747F;
}

.top-logo {
  width: 60px;
  float: left;
  position: relative;
  top: -20px;
}


/* -------------------------- body styles ---------------------------------*/

section {
  margin-bottom: 40px;
}

hr {
  display: block;
  margin: 0.8em 0;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  width: 100px;
}

.page-name {
  border-bottom: 1px solid #21B8CB;
  margin-bottom: 16px;
}

.page-title {
  margin-bottom:40px;
}

#home-header {
  text-align: center;
}

.page-content {
  margin-bottom:100px;
}

.column-33 {
  flex: 33.33333%;
  max-width: 33.33333%;
  padding: 0px 20px;
}

.column-66 {
  flex: 66.66666%;
  max-width: 66.66666%;
  padding: 0px 20px;
  position: relative;
}

.column-50 {
  flex: 50%;
  max-width: 50%;
  padding: 0px 20px;
}

.about-photo {
  height: 365px;
  animation: fadeInLeft 3s ease-in-out;
}

.overlay-text {
  background-color: #21B8CB;
  position: absolute;
  color: #fff;
  top: 80px;
  right:80px;
  width: 370px;
  padding: 20px 40px;
  animation: fadeInFarLeft 3s ease-in-out;
}

/* @keyframes fade-in-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
} */

.text-button {
  padding: 6px 20px;
  border: 1px solid #21B8CB;
  border-radius: 20px;
}

.text-button a{
  color:#fff;
}

.text-button:hover {
  background-color:#21B8CB;
  color: #fff;
}

.home-gallery {
  margin-top:40px;
}

.flip-card {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  animation: fadeIn 2s;
}

.flip-card:hover .overlay-effect{
  opacity: 0.9;
  transition: .3s;
}

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #21B8CB;
  opacity: 0;
  margin-top: 8px;
  transition: .5s;
  outline: 3px solid #fff;
  outline-offset: -25px;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 37%;
  transform: translate(-30%, -50%);
  text-align: center;
}

.text a{
  color: white;
}

.text hr {
  margin: .8em auto;
}

.text h3 {
  padding-bottom:0px;
}

/* ------------------ sidebar --------------------- */

aside {
  float: right;
  width: 240px;
  margin-right: 70px;
  padding-left:30px;
}

.blue {
  color:#21B8CB;
  margin: 0px 0px 20px 0px;
}

aside h2::after{
  content: ':'
}

/* ------------------ galleria --------------------- */
.galleria {
  max-width: 600px;
  height: 450px;
  background: #fff;
}


/* ------------------ responsive image grid css --------------------- */

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px 0 0;
  border-right: 1px solid #21B8CB;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.3333%;
  max-width: 33.3333%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* ------------------end responsive image grid css------------------------- */



/* -------------------------- form styles -------------------------------- */
.contact-form {
  max-width: 500px;
  color: #21B8CB;
}

.label_input_wrap {
  display: block;
}

.submit input{
  border: 1px solid #21B8CB;
  background: white;
  border-radius: 20px;
  color: #21B8CB;
  padding: 8px 20px;
}

.submit input:hover{
  border: 1px solid #21B8CB;
  background: #21B8CB;
  color: white;
}

input,
textarea {
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid #21B8CB;
}

.form-field-50 {
  width: 300px;
}

.form-field-100 {
  width: 500px;
}

.input-section {
  padding:10px;
}

/* --------------------------- footer ------------------------------------ */

footer {
  height: 300px;
  /* background-image: linear-gradient(45deg, rgba(33,184,203,1), rgba(14,116,127,1)); */
  background-image: linear-gradient(160deg, rgba(33,184,203,1), rgba(209,226,148,1));
  margin-top:50px;
}

.footer-left {
  padding-top: 65px;
}

.footer-middle {
  padding-top: 65px;
}

.footer-right {
  padding-top: 65px;
}

footer p {
  color: white;
  padding:0px;
}

.footer-bold {
  font-weight: 700;
}

/* --------------------------- animations ------------------------------------ */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@keyframes fadeInFarLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@keyframes fadeIn {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}
